@media screen and (max-width:767px) {
    .container .gallery .box {
        grid-column: span 3;
        grid-row: span 2;
    }
}

@media screen and (max-width:467px) {
    .container {
        flex-direction: column;
    }
    .gallery {
        grid-template-columns: 100vw;
    }
    .container .gallery .box {
        grid-row: span 2;
        grid-column: span 3;
    }
}